.App {
  border: 0px solid red;
  text-align: center;
  background-color: #00ffff;
  height: auto;
}

.container {
  border: 2px solid red;

  margin: auto;
  margin-top: 10vh;

  width: 600px;

  /* background-color: rgb(244, 243, 239); */
  background-color: rgb(238, 238, 244);
  height: auto;
  padding: 20px 5px;
}

@media screen and (max-width: 600px) {
  .App {
    border: 0px solid red;
    text-align: center;
    background-color: #00ffff;
    height: auto;
  }
  .container {
    border: 5px solid rgb(197, 23, 34);
    margin: auto;

    margin-top: 10vh;

    width: auto;

    background-color: rgb(238, 238, 244);

    height: auto;
    padding: 20px 15px;
  }
}

.top_button {
  /* border: 2px solid rgb(31, 168, 49); */

  background-color: rgb(238, 238, 244);

  /* border: 1px solid red; */
  /* background: linear-gradient(to right, #9afbfa, #d071f9); */

  padding: 10px 0px;
}

#btn {
  /* border: 4px solid green; */
  width: auto;
  top: 0;
  left: 0;
  position: absolute;

  border-radius: 30px;
  transition: 1s;
}
.button-box {
  /* border: 10px solid green; */
  width: auto;
  margin: 25px auto;
  position: relative;
  /* box-shadow: 0 0 20px 0px; */
  border: "none";
  border-radius: 20px;
  padding-left: 0px;
}
.toggle-btn {
  padding: 10px 40px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}
.active:focus {
  width: auto;
  height: 100%;
  background: linear-gradient(to right, #9afbfa, #d071f9);
  border-radius: 20px;
}
.active {
  background: linear-gradient(to right, #9afbfa, #d071f9);
  border-radius: 20px;
}
